<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All bathrooms
    </h1>

    <a href="/bathrooms/new" class="btn btn-block btn-outline-secondary">
      Add a new bathroom
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "bathroom_templates/bathrooms_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Bathroom type
        </th>

        <th>
          Outside access
        </th>

        <th>
          Building
        </th>

        <th>
          Room number
        </th>

        <th>
          Latitude
        </th>

        <th>
          Longitude
        </th>

        <th>
          Door width
        </th>

        <th>
          Doorknob type
        </th>

        <th>
          Auto push button
        </th>

        <th>
          Double doors
        </th>

        <th>
          Stall door width
        </th>

        <th>
          Stall doorknob type
        </th>

        <th>
          Stall auto close
        </th>

        <th>
          Stall interior handle
        </th>

        <th>
          Toilet space
        </th>

        <th>
          Grab bars
        </th>

        <th>
          Toilet paper reach
        </th>

        <th>
          Toilet paper height
        </th>

        <th>
          Flush button type
        </th>

        <th>
          Toilet seat height
        </th>

        <th>
          Seat cover height
        </th>

        <th>
          Urinal height
        </th>

        <th>
          Number accessible stalls
        </th>

        <th>
          Roll under sink
        </th>

        <th>
          Sink height
        </th>

        <th>
          Hot pipes wrapped
        </th>

        <th>
          Faucet type
        </th>

        <th>
          Soap dispenser height
        </th>

        <th>
          Hand dryer
        </th>

        <th>
          Tampon pad dispenser
        </th>

        <th>
          Tp dispenser height
        </th>

        <th>
          Mirror height
        </th>

        <th>
          Alarm system
        </th>

        <th>
          Obstructions
        </th>

        <th>
          Stall marked accessible
        </th>

        <th>
          Door marked accessible
        </th>

        <th>
          Marked unisex
        </th>

        <th>
          Location isolated
        </th>

        <th>
          Next door bathrooms
        </th>

        <th>
          Interior lock
        </th>

        <th>
          Dispenser functional
        </th>

        <th>
          Dispenser cleanliness
        </th>

        <th>
          Changing table
        </th>

        <th>
          Changing table height
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @bathrooms.each do |bathroom| %>
      <tr>
        <td>
          <%= bathroom.id %>
        </td>

        <td>
          <%= bathroom.bathroom_type %>
        </td>

        <td>
          <%= bathroom.outside_access %>
        </td>

        <td>
          <%= bathroom.building %>
        </td>

        <td>
          <%= bathroom.room_number %>
        </td>

        <td>
          <%= bathroom.latitude %>
        </td>

        <td>
          <%= bathroom.longitude %>
        </td>

        <td>
          <%= bathroom.door_width %>
        </td>

        <td>
          <%= bathroom.doorknob_type %>
        </td>

        <td>
          <%= bathroom.auto_push_button %>
        </td>

        <td>
          <%= bathroom.double_doors %>
        </td>

        <td>
          <%= bathroom.stall_door_width %>
        </td>

        <td>
          <%= bathroom.stall_doorknob_type %>
        </td>

        <td>
          <%= bathroom.stall_auto_close %>
        </td>

        <td>
          <%= bathroom.stall_interior_handle %>
        </td>

        <td>
          <%= bathroom.toilet_space %>
        </td>

        <td>
          <%= bathroom.grab_bars %>
        </td>

        <td>
          <%= bathroom.toilet_paper_reach %>
        </td>

        <td>
          <%= bathroom.toilet_paper_height %>
        </td>

        <td>
          <%= bathroom.flush_button_type %>
        </td>

        <td>
          <%= bathroom.toilet_seat_height %>
        </td>

        <td>
          <%= bathroom.seat_cover_height %>
        </td>

        <td>
          <%= bathroom.urinal_height %>
        </td>

        <td>
          <%= bathroom.number_accessible_stalls %>
        </td>

        <td>
          <%= bathroom.roll_under_sink %>
        </td>

        <td>
          <%= bathroom.sink_height %>
        </td>

        <td>
          <%= bathroom.hot_pipes_wrapped %>
        </td>

        <td>
          <%= bathroom.faucet_type %>
        </td>

        <td>
          <%= bathroom.soap_dispenser_height %>
        </td>

        <td>
          <%= bathroom.hand_dryer %>
        </td>

        <td>
          <%= bathroom.tampon_pad_dispenser %>
        </td>

        <td>
          <%= bathroom.tp_dispenser_height %>
        </td>

        <td>
          <%= bathroom.mirror_height %>
        </td>

        <td>
          <%= bathroom.alarm_system %>
        </td>

        <td>
          <%= bathroom.obstructions %>
        </td>

        <td>
          <%= bathroom.stall_marked_accessible %>
        </td>

        <td>
          <%= bathroom.door_marked_accessible %>
        </td>

        <td>
          <%= bathroom.marked_unisex %>
        </td>

        <td>
          <%= bathroom.location_isolated %>
        </td>

        <td>
          <%= bathroom.next_door_bathrooms %>
        </td>

        <td>
          <%= bathroom.interior_lock %>
        </td>

        <td>
          <%= bathroom.dispenser_functional %>
        </td>

        <td>
          <%= bathroom.dispenser_cleanliness %>
        </td>

        <td>
          <%= bathroom.changing_table %>
        </td>

        <td>
          <%= bathroom.changing_table_height %>
        </td>

        <td>
          <%= time_ago_in_words(bathroom.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(bathroom.updated_at) %> ago
        </td>

        <td>
          <a href="/bathrooms/<%= bathroom.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @bathrooms, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
