<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Bathroom #<%= @bathroom.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/bathrooms" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/bathrooms/<%= @bathroom.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit bathroom
        </a>
      </div>

      <div class="col">
        <a href="/delete_bathroom/<%= @bathroom.id %>" class="btn btn-block btn-outline-secondary">
          Delete bathroom
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Bathroom type
      </dt>
      <dd>
        <%= @bathroom.bathroom_type %>
      </dd>

      <dt>
        Outside access
      </dt>
      <dd>
        <%= @bathroom.outside_access %>
      </dd>

      <dt>
        Building
      </dt>
      <dd>
        <%= @bathroom.building %>
      </dd>

      <dt>
        Room number
      </dt>
      <dd>
        <%= @bathroom.room_number %>
      </dd>

      <dt>
        Latitude
      </dt>
      <dd>
        <%= @bathroom.latitude %>
      </dd>

      <dt>
        Longitude
      </dt>
      <dd>
        <%= @bathroom.longitude %>
      </dd>

      <dt>
        Door width
      </dt>
      <dd>
        <%= @bathroom.door_width %>
      </dd>

      <dt>
        Doorknob type
      </dt>
      <dd>
        <%= @bathroom.doorknob_type %>
      </dd>

      <dt>
        Auto push button
      </dt>
      <dd>
        <%= @bathroom.auto_push_button %>
      </dd>

      <dt>
        Double doors
      </dt>
      <dd>
        <%= @bathroom.double_doors %>
      </dd>

      <dt>
        Stall door width
      </dt>
      <dd>
        <%= @bathroom.stall_door_width %>
      </dd>

      <dt>
        Stall doorknob type
      </dt>
      <dd>
        <%= @bathroom.stall_doorknob_type %>
      </dd>

      <dt>
        Stall auto close
      </dt>
      <dd>
        <%= @bathroom.stall_auto_close %>
      </dd>

      <dt>
        Stall interior handle
      </dt>
      <dd>
        <%= @bathroom.stall_interior_handle %>
      </dd>

      <dt>
        Toilet space
      </dt>
      <dd>
        <%= @bathroom.toilet_space %>
      </dd>

      <dt>
        Grab bars
      </dt>
      <dd>
        <%= @bathroom.grab_bars %>
      </dd>

      <dt>
        Toilet paper reach
      </dt>
      <dd>
        <%= @bathroom.toilet_paper_reach %>
      </dd>

      <dt>
        Toilet paper height
      </dt>
      <dd>
        <%= @bathroom.toilet_paper_height %>
      </dd>

      <dt>
        Flush button type
      </dt>
      <dd>
        <%= @bathroom.flush_button_type %>
      </dd>

      <dt>
        Toilet seat height
      </dt>
      <dd>
        <%= @bathroom.toilet_seat_height %>
      </dd>

      <dt>
        Seat cover height
      </dt>
      <dd>
        <%= @bathroom.seat_cover_height %>
      </dd>

      <dt>
        Urinal height
      </dt>
      <dd>
        <%= @bathroom.urinal_height %>
      </dd>

      <dt>
        Number accessible stalls
      </dt>
      <dd>
        <%= @bathroom.number_accessible_stalls %>
      </dd>

      <dt>
        Roll under sink
      </dt>
      <dd>
        <%= @bathroom.roll_under_sink %>
      </dd>

      <dt>
        Sink height
      </dt>
      <dd>
        <%= @bathroom.sink_height %>
      </dd>

      <dt>
        Hot pipes wrapped
      </dt>
      <dd>
        <%= @bathroom.hot_pipes_wrapped %>
      </dd>

      <dt>
        Faucet type
      </dt>
      <dd>
        <%= @bathroom.faucet_type %>
      </dd>

      <dt>
        Soap dispenser height
      </dt>
      <dd>
        <%= @bathroom.soap_dispenser_height %>
      </dd>

      <dt>
        Hand dryer
      </dt>
      <dd>
        <%= @bathroom.hand_dryer %>
      </dd>

      <dt>
        Tampon pad dispenser
      </dt>
      <dd>
        <%= @bathroom.tampon_pad_dispenser %>
      </dd>

      <dt>
        Tp dispenser height
      </dt>
      <dd>
        <%= @bathroom.tp_dispenser_height %>
      </dd>

      <dt>
        Mirror height
      </dt>
      <dd>
        <%= @bathroom.mirror_height %>
      </dd>

      <dt>
        Alarm system
      </dt>
      <dd>
        <%= @bathroom.alarm_system %>
      </dd>

      <dt>
        Obstructions
      </dt>
      <dd>
        <%= @bathroom.obstructions %>
      </dd>

      <dt>
        Stall marked accessible
      </dt>
      <dd>
        <%= @bathroom.stall_marked_accessible %>
      </dd>

      <dt>
        Door marked accessible
      </dt>
      <dd>
        <%= @bathroom.door_marked_accessible %>
      </dd>

      <dt>
        Marked unisex
      </dt>
      <dd>
        <%= @bathroom.marked_unisex %>
      </dd>

      <dt>
        Location isolated
      </dt>
      <dd>
        <%= @bathroom.location_isolated %>
      </dd>

      <dt>
        Next door bathrooms
      </dt>
      <dd>
        <%= @bathroom.next_door_bathrooms %>
      </dd>

      <dt>
        Interior lock
      </dt>
      <dd>
        <%= @bathroom.interior_lock %>
      </dd>

      <dt>
        Dispenser functional
      </dt>
      <dd>
        <%= @bathroom.dispenser_functional %>
      </dd>

      <dt>
        Dispenser cleanliness
      </dt>
      <dd>
        <%= @bathroom.dispenser_cleanliness %>
      </dd>

      <dt>
        Changing table
      </dt>
      <dd>
        <%= @bathroom.changing_table %>
      </dd>

      <dt>
        Changing table height
      </dt>
      <dd>
        <%= @bathroom.changing_table_height %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@bathroom.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@bathroom.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

